.footer__container {
  background: #0a5169;
  padding-top: 5px;
  margin-top: 10px;
  height: 100px;
}
.footer__text {
  color: #fff;
  margin: 10px;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
}
.footer__social > img {
  width: 30px;
  margin: 10px;
  height: 30px;
}
