.ground__container {
  height: 400px;
}
.ground__text {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -0.19px;
  color: #000;
  opacity: 1;
}
