.header__container {
  background: transparent;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}

.nav__container {
  display: flex;
  background: transparent;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
}
.nav__brand {
  flex: 1.7;
  display: flex;
  justify-content: center;
}
.nav__brand > img {
  max-width: 217px;
}
.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
}
.nav__btn {
  background: #3ac280 0 0 no-repeat padding-box;
  border-color: #3ac280;
  border-radius: 20px;
  height: 30px;
  padding: 5px 25px;
  letter-spacing: 0;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  min-width: 30px;
}
.nav__btn :hover {
  background-color: #007bff !important;
}
