.howit__container {
  padding-top: 100px;
  height: 700px;
  background-color: rgba(10, 81, 105, 0.05);
}
.howit__1 {
  font-size: 167px !important;
  color: #0a5169;
  font-weight: 700;
}
.Compare__btn {
  background-color: #3ac280;
  width: 150px;
  padding: 12px;
  cursor: w-resize !important;
  border-color: #3ac280 !important;
  border-style: none;
  border-radius: 20px;
}
.Compare__btn:hover {
  border-color: #3ac280 !important;
  background-color: #3ac280 !important;
}
